* {
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

body {
    font-family: "Red Hat Text", sans-serif;
    margin: 0 auto;
    background-color: hsl(13, 31%, 94%);
    width: 85%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

button {
    cursor: pointer;
}

:root {
    font-size: 0.8rem;
}

.menu {
}

.main-category {
    font-size: 2.5rem;
}

.picture-container {
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}

.food-image {
    width: 100%;
    border-radius: 10px;
}

.button-container {
    position: absolute;
    width: 100%;
    bottom: -15px;
}

.cart-image {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.add-to-cart {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 0.7rem 1.3rem;
    width: 60%;
    border: 1.5px solid hsl(12, 20%, 44%);
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
    font-size: inherit;
}

.category {
    margin-bottom: 0;
}

.food-name {
    margin: 0;
}

.price {
    margin-top: 0;
    color: hsl(14, 86%, 42%);
}

.cart-container {
    background-color: white;
    padding: 1.4rem;
    border-radius: 10px;
}

.cart-container h2 {
    color: hsl(14, 86%, 42%);
}

.empty-cart-image {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.cart-container p {
    text-align: center;
    margin-top: 0;
    color: hsl(12, 20%, 44%);
}

.delete {
    border: 2px solid hsl(13, 31%, 94%);
    color: black;
    padding: 0.5rem 0.7rem;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}

.qty-span {
    color: hsl(14, 86%, 42%);;
}

.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-total {
    display: flex;
    justify-content: space-between;
}

.carbon-neutral {
    text-align: center;
    background-color: hsl(13, 31%, 94%);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.carbon-neutral img{
    margin-right: 0.5rem;
}

.carbon-neutral p {
    margin-bottom: 0;
    color: black;
}

.confirm-order-btn {
    width: 100%;
    border: 0;
    border-radius: 2rem;
    padding: 1rem 0;
    background-color: hsl(14, 86%, 42%);
    font-size: 1.3rem;  
    font-style: inherit;
    color: white;
    cursor: pointer;
}

.highlight-menu {
    border: 2px solid hsl(14, 86%, 42%);
}

.in-cart {
    display: flex;
    justify-content: space-between;
    background-color: hsl(14, 86%, 42%);
    color: white;
}


.inc-dec{
    margin: 0;
    font-weight: bold;
    border-radius: 100%;
    background: transparent;
    border: 2px solid white;
    color: white;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px){
    :root {
        font-size: 1.2rem;
    }

    .button-container {
        bottom: -18px;
    }
    
}


/* Desktop */
@media (min-width: 1200px) {
    :root {
        font-size: 1rem;
    }

    .outer-container {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .main-category {
        grid-column: 1/-1;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 70%;
    }
    
    .outer-picture-container {
        max-width: 90%;
    }

    .picture-container {
        width: 100%;
    }

    .cart-container {
        width: 28%;
        margin-top: 4rem;
    }
}